.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
}

.Container-player{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    width: 100%;
    height: 50%;

}

.Container-form{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.Container-form form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}
.Container-form .Con-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    font-size: 40px;
}
.Container-form .Con-input label{
    text-transform: capitalize;

}
.Container-form .Con-input input{
    font-size: 40px;
    padding-left: 10px;
}
.Container-form  button{
    width: 100%;
    font-size: 40px;
    padding: 10px;
    border-radius: 25px;
    margin: 20px 0;
}